.git
.github
.githooks
.tools
.data
.local
artifacts
private-reference
www
docs
gwbk
tools/java
**/node_modules
**/.npm-cache
**/bin
**/obj
**/dist
**/wwwroot
runtimes/python/windows-x64
.env
.env.*
**/*.gwbk
**/*.jar
**/*.class
**/*.java
**/*.modl
